<!doctype html>
<html lang="en">
{% include 'partials/head.twig' %}
    <head>
        <title>{{title}}</title>
        <meta name ="viewport" content="width=device-width,initial-scale=1">
        <link rel ="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
        <script src="node_modules/jquery/dist/jquery.min.js"></script>
        <script sc="node_modules/popper.js/dist/umd/popper.min.js"></script>
        <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    </head>

    <body>
    {% include 'partials/navigation.twig' %}
        <main class="container">
            <div class = "row">
                {% for product in products %}
                <div class="col-md-3"> data-id="{{product.product_id}}">
                <img class="img-fluid" src="images/products/products/{{product.image}}">
                    <h3>{{product.name}}</h3>
                    <h6>{{product.price}}</h6>
                    <p>{{product.description | slice (0,50) ~ '.....'}}</p>
                    <a href="detail.php?product_id={{product.product_id}}">Info</a>
                </div>
                {% endfor %}
            </div>
        
        
        
        </main>



    </body>
</html>

